# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore compiled code
*.exe
*.dll

# Ignore package-lock.json for npm
package-lock.json

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .idea directory (JetBrains IDEs)
.idea/